@font-face {
  font-family: 'Noto Sans Symbols';
  src: url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Regular.woff2') format('woff2'),
       url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+2160-2188;
}

@font-face {
  font-family: 'Noto Sans Symbols';
  src: url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Medium.woff2') format('woff2'),
       url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+2160-2188;
}

@font-face {
  font-family: 'Noto Sans Symbols';
  src: url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-SemiBold.woff2') format('woff2'),
       url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  unicode-range: U+2160-2188;
}

@font-face {
  font-family: 'Noto Sans Symbols';
  src: url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Bold.woff2') format('woff2'),
       url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+2160-2188;
}

@font-face {
  font-family: 'Noto Sans Symbols';
  src: url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-ExtraBold.woff2') format('woff2'),
       url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  unicode-range: U+2160-2188;
}

@font-face {
  font-family: 'Noto Sans Symbols';
  src: url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Black.woff2') format('woff2'),
       url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  unicode-range: U+2160-2188;
}

@font-face {
  font-family: 'Noto Sans Symbols';
  src: url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Light.woff2') format('woff2'),
       url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  unicode-range: U+2160-2188;
}

@font-face {
  font-family: 'Noto Sans Symbols';
  src: url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-ExtraLight.woff2') format('woff2'),
       url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  unicode-range: U+2160-2188;
}

@font-face {
  font-family: 'Noto Sans Symbols';
  src: url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Thin.woff2') format('woff2'),
       url('https://merliborn.github.io/woff-fonts/woff/noto-roman-numerals/NotoSans-RomanNumerals-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  unicode-range: U+2160-2188;
}
